/*
____  _    _ _____            _   _ 
|  _ \| |  | |  __ \     /\   | \ | |
| |_) | |  | | |__) |   /  \  |  \| |
|  _ <| |  | |  _  /   / /\ \ | . ` |
| |_) | |__| | | \ \  / ____ \| |\  |
|____/ \____/|_|  \_\/_/    \_\_| \_|

*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #CBD5E1;
    min-height: 100vh;
    position: relative;
}

/* Main */
.main-bg {
	background: #E2E8F0;
	margin-top: 40px;
	/* width: 1500px; */
	border-radius: .5rem;
}

.border-item {
	border-radius: .5rem;
	border: #dedede 1px solid;
}

.border-item-2 {
	border-radius: .5rem;
}
/* Main */
